[Desktop Entry]
Encoding=UTF-8
Name=Disk Sleep Plasmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=icon.svg
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Patricio Zavolinsky
X-KDE-PluginInfo-Name=Disk-Sleep-Plasmoid
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
